.movies {
  h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
  }
  padding: 50px 20px;
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    gap: 30px;
  }
}
